<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route
            id="healthz_readiness"
            path="/healthz/ready"
            controller="MCEikens\SymfonyKubernetesHealthzCheck\Controller\Healthz\ReadinessProbeController::__invoke"
            methods="GET"
    />
    <route
            id="healthz_liveness"
            path="/healthz/live"
            controller="MCEikens\SymfonyKubernetesHealthzCheck\Controller\Healthz\LivenessProbeController::__invoke"
            methods="GET"
    />
</routes>